.team-wrapper {
  max-width: 650px;
  margin: auto;
  padding: 30px;
}

.team-card {
  padding: 5px 15px 20px 15px;
  border-radius: 16px;
}
mat-card-subtitle{
    color: red;
}
.form-layout {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 15px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.upload-label {
  font-size: 14px;
  font-weight: 600;
}

.upload-box {
  border: 2px dashed #9e9e9e;
  border-radius: 14px;
  padding: 25px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.upload-box:hover {
  border-color: #3f51b5;
  background: #f4f6ff;
}

.upload-box mat-icon {
  font-size: 20px;
  margin-bottom: 5px;
}

.preview-logo {
  width: 100px;
  height: 100px;
  border-radius: 14px;
  object-fit: cover;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
}
